{% extends 'base.html.twig' %}

{% block body %}
    <h1>Category creation</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <p align="center">
        <input type="submit" value="Create" class="btn btn-info"/>
    </p>
    {{ form_end(form) }}
    <p align="center">
        <a href="{{ path('category_index') }}" class="btn btn-default">Back to the list</a>
    </p>
{% endblock %}
